<a href="https://colab.research.google.com/github/n3xtss/CourseWork/blob/main/Activity_Week_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Class Identification Exercise:

Create a vector named animals containing the names of three different animals.
Use the class() function to identify the class of animals.
What class do animals belong to?

In [ ]:
x <- c("hamster", "dog", "cat")
print(x)

[1] "hamster" "dog"     "cat"

Define two vectors: numbers1 with the numbers 1 to 3 and numbers2 with the numbers 4 to 6.
Use the c() function to combine the two vectors into a single vector named all_numbers.
Print all_numbers to verify the combination.

In [ ]:
x <- c(1, 2, 3)
y <- c(x, 4, 5, 6)
print(y)

[1] 1 2 3 4 5 6

Create a vector called temperatures containing the temperatures of a location for a week (e.g., 25, 28, 30, 27, 29, 26, 31).
Use the typeof() function to determine the data type of temperatures.
What data type is temperatures?

In [ ]:
temperatures <- c(25, 28, 30, 27, 29, 26, 31)
typeof(temperatures)

[1] "double"

Suppose two more animals are added to the animals vector: "elephant" and "tiger".
Remove the second animal from the animals vector.
Print the modified animals vector to verify the removal.

In [6]:
x <- c("hamster", "dog", "cat", "elephant", "rabbit")
x<-x[-2]
x

[1] "hamster"  "cat"      "elephant" "rabbit"